<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-body">
                {# Start the form rendering #}
                {{ form_start(form) }}

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.type) }}
                            {{ form_widget(form.type, {'attr': {'class': 'form-control', 'placeholder': 'Type'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Type'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.document) }}
                            {{ form_widget(form.document, {'attr': {'class': 'form-control', 'placeholder': 'Document'}}) }}
                        </div>
                    </div>
                </div>
                <button type="submit" class="{{ button_css|default('submitbtn') }}">
                    <i class="fa fa-plus"></i> {{ button_label|default('Ajouter'|trans) }}
                </button>

                {# End the form #}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
