{% extends 'base.html.twig' %}

{% block title %}TypeVirement{% endblock %}

{% block body %}
    <h1>TypeVirement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_virement.id }}</td>
            </tr>
            <tr>
                <th>Frais</th>
                <td>{{ type_virement.frais }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_virement_index') }}">back to list</a>

    <a href="{{ path('app_type_virement_edit', {'id': type_virement.id}) }}">edit</a>

    {{ include('type_virement/_delete_form.html.twig') }}
{% endblock %}
