    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header">
                   
                </div>
                <div class="box-body">
                    {{ form_start(form) }}

                    

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.type) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
                                    {{ form_widget(form.type, {'attr': {'class': 'form-control', 'placeholder': 'Type'}}) }}
                                </div>
                            </div>
                        </div>

                         <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.etat) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    {{ form_widget(form.etat, {'attr': {'class': 'form-control', 'placeholder': 'Etat'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="{{ button_css|default('submitbtn') }}">
                        <i class="fa fa-plus"></i> {{ button_label|default('Ajouter'|trans) }}
                    </button>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

