
    <div class="row">
        <div class="col-md-12"> {# Ajout d'une classe "col-md-12" pour occuper toute la largeur #}
            <div class="box box-danger">
              
                <div class="box-body">
                    {# Render each form field manually #}
                                        {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.nom) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.prenom) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.cin) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
                                    {{ form_widget(form.cin, {'attr': {'class': 'form-control', 'placeholder': 'xxxxxxxx'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.num_tel) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    {{ form_widget(form.num_tel, {'attr': {'class': 'form-control', 'placeholder': 'XX XXX XXX'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.genre) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa  fa-venus-mars"></i></span>
                                    {{ form_widget(form.genre, {'attr': {'class': 'form-control', 'placeholder': 'Non spécifique'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Date de naissance</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
{{ form_widget(form.dob, {'attr': {'class': 'form-control', 'placeholder': 'Date de naissance', 'type': 'date'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.pays) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                                    {{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
{{ form_errors(form.pays) }}                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.adresse) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.document) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-paperclip"></i></span>
                                    {{ form_widget(form.document, {'attr': {'class': 'form-control', 'placeholder': 'Document d\'identité'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.signature) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-paperclip"></i></span>
                                    {{ form_widget(form.signature, {'attr': {'class': 'form-control', 'placeholder': 'Signature'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.profession) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    {{ form_widget(form.profession, {'attr': {'class': 'form-control', 'placeholder': 'Profession'}}) }}
                                </div>
                            </div>
                        </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.photo) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-photo"></i></span>
                                    {{ form_widget(form.photo, {'attr': {'class': 'form-control', 'placeholder': 'email'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                      <div class="form-group col-md-12">
                                {{ form_label(form.email) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'email'}}) }}
                                </div>
                        </div>
                  </div>
        <button type="submit" class="{{ button_css|default('submitbtn') }}">
            <i class="fa fa-plus"></i> {{ button_label|default('Ajouter'|trans) }}
        </button>



        
       
                    {# Ajout de la balise form_end pour terminer le formulaire #}
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

