

                <div class="box-body">
                    {# Render each form field manually #}
                                       

                    <div class="row" >
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="client_nom "  class=" titre_client required">Nom  : <small>{{client_connecter.nom | upper}}</small></label> 
                                <div class="input-group">  
                                                               </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                <label for="client_nom "  class=" titre_client required">Numéro Carte d'idendité : <small>{{client_connecter.cin}}</small></label>                                
                                <div class="input-group">
                                    
                         </div>
                            </div>
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="client_nom "  class=" titre_client required">Prénom : <small>{{client_connecter.prenom | upper}}</small></label> 
                                <div class="input-group">  
                                                               </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                <label for="client_nom "  class=" titre_client required">Profession : <small>{{client_connecter.profession}}</small></label>                                
                                <div class="input-group">
                                    
                         </div>
                            </div>
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="client_nom "  class=" titre_client required">Mail : <small>{{client_connecter.email }}</small></label> 
                                <div class="input-group">  
                                                               </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                <label for="client_nom "  class=" titre_client required">Numéro Téléphone : <small>{{client_connecter.getNumTel}}</small></label>                                
                                <div class="input-group">
                                    
                         </div>
                            </div>
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="client_nom "  class=" titre_client required">Adresse : <small>{{client_connecter.adresse}}</small></label> 
                                <div class="input-group">  
                                                               </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                <label for="client_nom "  class=" titre_client required">Nom d'utilisateur : <small>{{client_connecter.username}}</small></label>                                
                                <div class="input-group">
                                    
                         </div>
                            </div>
                        </div>
                    </div>
                   
      <div class="card__actions">
      
    <a target="_blank" href="" data-toggle="modal" data-target="#modal"  class="card__button">Modifier le mot de passe</a>
 
</div>



        
       
                    {# Ajout de la balise form_end pour terminer le formulaire #}
                  

                </div>

