{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>
 <div class="scrollable-table">
    <table class="table ">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td>{{ client.dob ? client.dob|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ client.cin }}</td>
            </tr>
            <tr>
                <th>Num_tel</th>
                <td>{{ client.numTel }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ client.genre }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ client.pays }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Document</th>
                <td>{{ client.document }}</td>
            </tr>
            <tr>
                <th>Signature</th>
                <td>{{ client.signature }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ client.profession }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ client.dateCreation ? client.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ client.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ client.password }}</td>
            </tr>
            <tr>
                <th>Last_login</th>
                <td>{{ client.lastLogin ? client.lastLogin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ client.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_client_index') }}">back to list</a>

    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
