<article>
    <div class="row">
        <div class="col-md-12"> {# Ajout d'une classe "col-md-12" pour occuper toute la largeur #}
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">Formulaire D'ajout</h3>
                </div>
                <div class="box-body">
                    {# Render each form field manually #}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="row">
                     <div class="col-md-6">
                            <div class="form-group">
                               <label for="credit_id_compte" class="required">Compte</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    {{ form_widget(form.id_compte, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                               
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.montant) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-dollar "></i></span>
                                    {{ form_widget(form.montant, {'attr': {'class': 'form-control', 'placeholder': '30 000'}}) }}
                                </div>
                                  {% if form_errors(form.montant) %}
                                    <div class="alert alert-danger">
                                        {{ form_errors(form.montant) }}
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                       <!--callmd6-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.duree) }}
                                <small>(nombre des echeances)</small>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                    {{ form_widget(form.duree, {'attr': {'class': 'form-control', 'placeholder': 'XX'}}) }}
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.date_debut) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    {{ form_widget(form.date_debut, {'attr': {'class': 'form-control', 'placeholder': 'Date de naissance', 'type': 'date'}}) }}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.type) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa  fa-list-ul"></i></span>
                                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.taux) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-line-chart"></i></span>
{{ form_widget(form.taux, {'attr': {'class': 'form-control', 'placeholder': '', 'disabled': 'disabled'}}) }}
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.apport_propre) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa  fa-chevron-right"></i></span>
                                    {{ form_widget(form.apport_propre, {'attr': {'class': 'form-control'}}) }}
                               </div>
                               {% if form_errors(form.apport_propre) %}
                                    <div class="alert alert-danger">
                                        {{ form_errors(form.apport_propre) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.revenu_propre) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-area-chart"></i></span>
                                    {{ form_widget(form.revenu_propre, {'attr': {'class': 'form-control', 'placeholder': 'revenu propre'}}) }}
                                </div>
                                {% if form_errors(form.revenu_propre) %}
                                    <div class="alert alert-danger">
                                        {{ form_errors(form.revenu_propre) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.montant_echeance) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                    {{ form_widget(form.montant_echeance, {'attr': {'class': 'form-control', 'placeholder': 'montant echeance', 'disabled': 'disabled'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.date_echeance) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    {{ form_widget(form.date_echeance, {'attr': {'class': 'form-control', 'placeholder': 'date_echeance','type': 'date'}}) }}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                   
    
        <button type="submit" class="{{ button_css|default('submitbtn') }}">
            <i class="fa fa-plus"></i> {{ button_label|default('Ajouter'|trans) }}
        </button>



        
       
                    {# Ajout de la balise form_end pour terminer le formulaire #}
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
</article>
